snippet iEX "import and export Ember" b
import Ember from 'ember';

export default Ember.$1.extend({
  $0
});
endsnippet

snippet iE "import Ember" b
import Ember from 'ember';
$0
endsnippet

snippet eoc "Ember Object Create"
Ember.Object.create({
  $0
});
endsnippet

snippet etest "make test" b
test('$1', (assert) => {
  $0
});
endsnippet
